@media screen and (max-width: 1250px) {
  .portfolio__container {
    padding-top: 50px;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);

  }
}